*.csharp linguist-detectable=true  
*.cs linguist-detectable=true
*.cs linguist-language=C#
*.java linguist-detectable=false  
*.js linguist-detectable=false  
*.html linguist-detectable=false  
*.css linguist-detectable=false 
*.xml linguist-detectable=false 
