@model ChangePasswordViewModel

@{
    ViewData["Title"] = " تغير كلمة السر";
}
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="breadcrumb-wrapper py-3 mb-4">
            <span class="text-muted fw-light">الملف الشخصي  /</span> الأمان
        </h4>

        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills flex-column flex-md-row mb-3">
                    <li class="nav-item">
                        <a class="nav-link " asp-controller="ManageProfile" asp-action="Profile"><i class="bx bx-user me-1"></i> الملف الشخصي</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " asp-controller="ManageProfile" asp-action="EditMyProfile"><i class="bx bx-user me-1"></i> تعديل الملف الشخصي</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="ManageProfile" asp-action="ChangePassword"><i class="bx bx-lock-alt me-1"></i> تغير كلمة المرور</a>
                    </li>

                </ul>
                <!-- Change Password -->
                <div class="card mb-4">
                    <h5 class="card-header">تغيير كلمة المرور</h5>
                    <div class="card-body">
                        <form method="POST" asp-controller="ManageProfile" asp-action="ChangePassword">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="row">
                                <div class="form-password-toggle col-md-6 mb-3">
                                    <label class="form-label" for="currentPassword">كلمة المرور القديمة</label>
                                    <div class="input-group input-group-merge">
                                        <input asp-for="CurrentPassword" class="form-control"
                                               type="password"
                                               placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-password-toggle col-md-6 mb-3">
                                    <label class="form-label" for="newPassword">كلمة المرور الجديدة</label>
                                    <div class="input-group input-group-merge">
                                        <input asp-for="NewPassword" class="form-control"
                                               type="password"
                                               placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                    </div>
                                </div>

                                <div class="form-password-toggle col-md-6 mb-3">
                                    <label class="form-label" for="confirmPassword">تكرار كلمة المرور الجديدة</label>
                                    <div class="input-group input-group-merge">
                                        <input asp-for="PasswordConfirm" class="form-control"
                                               type="password"
                                               placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                    </div>
                                </div>
                                <div class="col-12 mb-4">
                                    <p class="fw-semibold mt-2">متطلبات كلمة المرور</p>
                                    <ul class="ps-3 mb-0">
                                        <li class="mb-1">عدد الاحرف يزيد عن 8 احرف</li>
                                        <li class="mb-1">تحتوي على احرف صغيرة</li>
                                        <li>تحتوي على ارقام</li>
                                    </ul>
                                </div>
                                <div class="col-12 mt-1">
                                    <button type="submit" class="btn btn-primary me-2">حفظ التغير </button>
                                    <button onclick="location.href='@Url.Action("Index", "ManageProfile")'" type="reset" class="btn btn-label-secondary">إالغاء</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--/ Change Password -->








            </div>
        </div>
    </div>

    <div class="content-backdrop fade"></div>
</div>