<div class="alert alert-danger alert-dismissible fade in" id="dangerBootstrapWithClose" style="display:none">
    <button type="button" class="close" onclick="closeDangerBootstrapWithClose()" aria-label="close" style="font-size:30px;color:darkred">&times;</button>
    <i class="glyphicon glyphicon-remove" style="padding-right:10px"></i> This is danger alert !
</div>

