<!-- Light Modal -->
<div class="modal fade" id="dangerLightModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="row">
                <button type="button" class="close" data-dismiss="modal" style="padding:15px">&times;</button>
            </div>
            <div class="row">
                <div class="modal-body text-center">
                    <!--icon-->
                    <div class="row">
                        <i class="glyphicon glyphicon-remove-circle" style="font-size:50px;color:red"></i>
                    </div>
                    <!--header-->
                    <div class="row paddingTopBottom" style="color:red">
                        <b style="font-size:20px">Danger!</b>
                    </div>
                    <!--body-->
                    <div class="row">
                        <p>This is the modal body text.</p>
                    </div>
                    <!--close button-->
                    <div class="row" style="padding:10px 2px 25px 2px">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

