<div class="alert alert-info alert-dismissible fade in" id="infoBootstrapWithClose" style="display:none">
    <button type="button" class="close" onclick="closeInfoBootstrapWithClose()" aria-label="close" style="font-size:30px;color:darkblue">&times;</button>
    <i class="	glyphicon glyphicon-info-sign" style="padding-right:10px"></i> This is info alert !
</div>

