<!-- Dark Modal -->
<div class="modal fade" id="successDarkModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content darkBackground">
            <div class="row">
                <button type="button" class="close textWhite" data-dismiss="modal" style="padding:15px;color:lightgray">&times;</button>
            </div>
            <div class="row">
                <div class="modal-body text-center">
                    <!--icon-->
                    <div class="row">
                        <i class="glyphicon glyphicon-ok-circle" style="font-size:50px;color:greenyellow"></i>
                    </div>
                    <!--header-->
                    <div class="row paddingTopBottom" style="color:greenyellow">
                        <b style="font-size:20px">Success!</b>
                    </div>
                    <!--body-->
                    <div class="row" style="color:white">
                        <p>This is the modal body text.</p>
                    </div>
                    <!--close button-->
                    <div class="row" style="padding:10px 2px 25px 2px">
                        <button type="button" class="btn darkBackgroundBtn" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
