<div class="alert alert-success alert-dismissible fade in" id="successBootstrapWithClose" style="display:none"> 
    <button type="button" class="close" onclick="closeSuccessBootstrapWithClose()" aria-label="close" style="font-size:30px;color:darkgreen">&times;</button>
    <i class="glyphicon glyphicon-ok" style="padding-right:10px"></i> This is success alert !
</div>
