<div class="alert alert-warning alert-dismissible fade in" id="warningBootstrapWithClose" style="display:none">
    <button type="button" class="close" onclick="closeWarningBootstrapWithClose()" aria-label="close" style="font-size:30px;color:darkorange">&times;</button>
    <i class="glyphicon glyphicon-alert" style="padding-right:10px"></i> This is warning alert !
</div>


