
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="breadcrumb-wrapper py-3 mb-4">
        <span class="text-muted fw-light">إدارةالنظام    /</span> إدارةالتقارير
    </h4>


    <div class="row g-4 mb-4">
        <div class="gap-3 d-flex flex-wrap justify-content-between align-items-center" style="margin-right: 19px;">
            <div class="align-content-center gap-4 d-flex flex-wrap justify-content-between">
                <div class="card">
                    <div class="card-body">
                        <div class="gap-2 d-flex align-items-center" style="position: relative;">
                            <div id="marketingCampaignChart1" style="min-height: 49.65px;"><div id="apexchartsjd9sy9fk" class="apexcharts-canvas apexchartsjd9sy9fk apexcharts-theme-light" style="width: 55px; height: 49.65px;"><svg id="SvgjsSvg1267" width="55" height="49.650000000000006" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG1269" class="apexcharts-inner apexcharts-graphical" transform="translate(-3, -5)"><defs id="SvgjsDefs1268"><clipPath id="gridRectMaskjd9sy9fk"><rect id="SvgjsRect1271" width="66" height="70" x="-3.5" y="-1.5" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMaskjd9sy9fk"></clipPath><clipPath id="nonForecastMaskjd9sy9fk"></clipPath><clipPath id="gridRectMarkerMaskjd9sy9fk"><rect id="SvgjsRect1272" width="63" height="71" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath></defs><g id="SvgjsG1273" class="apexcharts-pie"><g id="SvgjsG1274" transform="translate(0, 0) scale(1)"><circle id="SvgjsCircle1275" r="14.157317073170734" cx="29.5" cy="29.5" fill="transparent"></circle><g id="SvgjsG1276" class="apexcharts-slices"><g id="SvgjsG1277" class="apexcharts-series apexcharts-pie-series" seriesName="seriesx1" rel="1" data:realIndex="0"><path id="SvgjsPath1278" d="M 29.5 7.719512195121947 A 21.780487804878053 21.780487804878053 0 0 1 45.9605943877647 43.76318622958877 L 40.19938635204706 38.7710710492327 A 14.157317073170734 14.157317073170734 0 0 0 29.5 15.342682926829266 L 29.5 7.719512195121947 z" fill="rgba(90,141,238,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="3" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-0" index="0" j="0" data:angle="130.9090909090909" data:startAngle="0" data:strokeWidth="3" data:value="60" data:pathOrig="M 29.5 7.719512195121947 A 21.780487804878053 21.780487804878053 0 0 1 45.9605943877647 43.76318622958877 L 40.19938635204706 38.7710710492327 A 14.157317073170734 14.157317073170734 0 0 0 29.5 15.342682926829266 L 29.5 7.719512195121947 z" stroke="#ffffff"></path></g><g id="SvgjsG1279" class="apexcharts-series apexcharts-pie-series" seriesName="seriesx2" rel="2" data:realIndex="1"><path id="SvgjsPath1280" d="M 45.9605943877647 43.76318622958877 A 21.780487804878053 21.780487804878053 0 0 1 13.0394056122353 43.763186229588776 L 18.800613647952943 38.7710710492327 A 14.157317073170734 14.157317073170734 0 0 0 40.19938635204706 38.7710710492327 L 45.9605943877647 43.76318622958877 z" fill="rgba(253,172,65,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="3" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-1" index="0" j="1" data:angle="98.18181818181819" data:startAngle="130.9090909090909" data:strokeWidth="3" data:value="45" data:pathOrig="M 45.9605943877647 43.76318622958877 A 21.780487804878053 21.780487804878053 0 0 1 13.0394056122353 43.763186229588776 L 18.800613647952943 38.7710710492327 A 14.157317073170734 14.157317073170734 0 0 0 40.19938635204706 38.7710710492327 L 45.9605943877647 43.76318622958877 z" stroke="#ffffff"></path></g><g id="SvgjsG1281" class="apexcharts-series apexcharts-pie-series" seriesName="seriesx3" rel="3" data:realIndex="2"><path id="SvgjsPath1282" d="M 13.0394056122353 43.763186229588776 A 21.780487804878053 21.780487804878053 0 0 1 29.49619858777044 7.719512526857745 L 29.497529082050786 15.342683142457535 A 14.157317073170734 14.157317073170734 0 0 0 18.800613647952943 38.7710710492327 L 13.0394056122353 43.763186229588776 z" fill="rgba(57,218,138,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="3" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-2" index="0" j="2" data:angle="130.9090909090909" data:startAngle="229.0909090909091" data:strokeWidth="3" data:value="60" data:pathOrig="M 13.0394056122353 43.763186229588776 A 21.780487804878053 21.780487804878053 0 0 1 29.49619858777044 7.719512526857745 L 29.497529082050786 15.342683142457535 A 14.157317073170734 14.157317073170734 0 0 0 18.800613647952943 38.7710710492327 L 13.0394056122353 43.763186229588776 z" stroke="#ffffff"></path></g></g></g></g><line id="SvgjsLine1283" x1="0" y1="0" x2="59" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1284" x1="0" y1="0" x2="59" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line></g><g id="SvgjsG1270" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend"></div><div class="apexcharts-tooltip apexcharts-theme-dark"><div class="apexcharts-tooltip-series-group" style="order: 1;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(90, 141, 238);"></span><div class="apexcharts-tooltip-text" style="font-family: &quot;IBM Plex Sans&quot;; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 2;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(253, 172, 65);"></span><div class="apexcharts-tooltip-text" style="font-family: &quot;IBM Plex Sans&quot;; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 3;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(57, 218, 138);"></span><div class="apexcharts-tooltip-text" style="font-family: &quot;IBM Plex Sans&quot;; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div></div></div>
                            <div>
                                <div class="content-left">
                                    <span>الشكاوى المحلولة  </span>
                                </div>
                                <div class="d-flex align-items-center">
                                    <h6 class="me-2 mb-0">25,768</h6>
                                    <span class="text-success">(+16.2%)</span>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="badge badge-dot bg-success me-2"></span> Jan 12,2022
                                </div>
                            </div>
                            <div class="resize-triggers"><div class="expand-trigger"><div style="width: 172px; height: 51px;"></div></div><div class="contract-trigger"></div></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="gap-2 d-flex align-items-center" style="position: relative;">
                            <div id="marketingCampaignChart2" style="min-height: 49.65px;"><div id="apexcharts6ccg5q9z" class="apexcharts-canvas apexcharts6ccg5q9z apexcharts-theme-light" style="width: 55px; height: 49.65px;"><svg id="SvgjsSvg1285" width="55" height="49.650000000000006" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG1287" class="apexcharts-inner apexcharts-graphical" transform="translate(-3, -5)"><defs id="SvgjsDefs1286"><clipPath id="gridRectMask6ccg5q9z"><rect id="SvgjsRect1289" width="66" height="70" x="-3.5" y="-1.5" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMask6ccg5q9z"></clipPath><clipPath id="nonForecastMask6ccg5q9z"></clipPath><clipPath id="gridRectMarkerMask6ccg5q9z"><rect id="SvgjsRect1290" width="63" height="71" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath></defs><g id="SvgjsG1291" class="apexcharts-pie"><g id="SvgjsG1292" transform="translate(0, 0) scale(1)"><circle id="SvgjsCircle1293" r="14.157317073170734" cx="29.5" cy="29.5" fill="transparent"></circle><g id="SvgjsG1294" class="apexcharts-slices"><g id="SvgjsG1295" class="apexcharts-series apexcharts-pie-series" seriesName="seriesx1" rel="1" data:realIndex="0"><path id="SvgjsPath1296" d="M 29.5 7.719512195121947 A 21.780487804878053 21.780487804878053 0 0 1 29.5 51.28048780487805 L 29.5 43.65731707317073 A 14.157317073170734 14.157317073170734 0 0 0 29.5 15.342682926829266 L 29.5 7.719512195121947 z" fill="rgba(255,91,92,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="3" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-0" index="0" j="0" data:angle="180" data:startAngle="0" data:strokeWidth="3" data:value="60" data:pathOrig="M 29.5 7.719512195121947 A 21.780487804878053 21.780487804878053 0 0 1 29.5 51.28048780487805 L 29.5 43.65731707317073 A 14.157317073170734 14.157317073170734 0 0 0 29.5 15.342682926829266 L 29.5 7.719512195121947 z" stroke="#ffffff"></path></g><g id="SvgjsG1297" class="apexcharts-series apexcharts-pie-series" seriesName="seriesx2" rel="2" data:realIndex="1"><path id="SvgjsPath1298" d="M 29.5 51.28048780487805 A 21.780487804878053 21.780487804878053 0 0 1 7.719512195121947 29.500000000000004 L 15.342682926829266 29.5 A 14.157317073170734 14.157317073170734 0 0 0 29.5 43.65731707317073 L 29.5 51.28048780487805 z" fill="rgba(105,128,154,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="3" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-1" index="0" j="1" data:angle="90" data:startAngle="180" data:strokeWidth="3" data:value="30" data:pathOrig="M 29.5 51.28048780487805 A 21.780487804878053 21.780487804878053 0 0 1 7.719512195121947 29.500000000000004 L 15.342682926829266 29.5 A 14.157317073170734 14.157317073170734 0 0 0 29.5 43.65731707317073 L 29.5 51.28048780487805 z" stroke="#ffffff"></path></g><g id="SvgjsG1299" class="apexcharts-series apexcharts-pie-series" seriesName="seriesx3" rel="3" data:realIndex="2"><path id="SvgjsPath1300" d="M 7.719512195121947 29.500000000000004 A 21.780487804878053 21.780487804878053 0 0 1 29.49619858777044 7.719512526857745 L 29.497529082050786 15.342683142457535 A 14.157317073170734 14.157317073170734 0 0 0 15.342682926829266 29.5 L 7.719512195121947 29.500000000000004 z" fill="rgba(90,141,238,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="3" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-2" index="0" j="2" data:angle="90" data:startAngle="270" data:strokeWidth="3" data:value="30" data:pathOrig="M 7.719512195121947 29.500000000000004 A 21.780487804878053 21.780487804878053 0 0 1 29.49619858777044 7.719512526857745 L 29.497529082050786 15.342683142457535 A 14.157317073170734 14.157317073170734 0 0 0 15.342682926829266 29.5 L 7.719512195121947 29.500000000000004 z" stroke="#ffffff"></path></g></g></g></g><line id="SvgjsLine1301" x1="0" y1="0" x2="59" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1302" x1="0" y1="0" x2="59" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line></g><g id="SvgjsG1288" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend"></div><div class="apexcharts-tooltip apexcharts-theme-dark"><div class="apexcharts-tooltip-series-group" style="order: 1;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(255, 91, 92);"></span><div class="apexcharts-tooltip-text" style="font-family: &quot;IBM Plex Sans&quot;; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 2;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(105, 128, 154);"></span><div class="apexcharts-tooltip-text" style="font-family: &quot;IBM Plex Sans&quot;; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 3;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(90, 141, 238);"></span><div class="apexcharts-tooltip-text" style="font-family: &quot;IBM Plex Sans&quot;; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div></div></div>
                            <div>
                                <div class="content-left">
                                    <span>شكاوى غير محلولة   </span>
                                </div>
                                <div class="d-flex align-items-center">
                                    <h6 class="me-2 mb-0">5,352</h6>
                                    <span class="text-danger">(-4.9%)</span>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="badge badge-dot bg-danger me-2"></span> Jan 12,2022
                                </div>
                            </div>
                            <div class="resize-triggers"><div class="expand-trigger"><div style="width: 159px; height: 51px;"></div></div><div class="contract-trigger"></div></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="gap-2 d-flex align-items-center" style="position: relative;">
                            <div id="marketingCampaignChart2" style="min-height: 49.65px;"><div id="apexcharts6ccg5q9z" class="apexcharts-canvas apexcharts6ccg5q9z apexcharts-theme-light" style="width: 55px; height: 49.65px;"><svg id="SvgjsSvg1285" width="55" height="49.650000000000006" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG1287" class="apexcharts-inner apexcharts-graphical" transform="translate(-3, -5)"><defs id="SvgjsDefs1286"><clipPath id="gridRectMask6ccg5q9z"><rect id="SvgjsRect1289" width="66" height="70" x="-3.5" y="-1.5" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMask6ccg5q9z"></clipPath><clipPath id="nonForecastMask6ccg5q9z"></clipPath><clipPath id="gridRectMarkerMask6ccg5q9z"><rect id="SvgjsRect1290" width="63" height="71" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath></defs><g id="SvgjsG1291" class="apexcharts-pie"><g id="SvgjsG1292" transform="translate(0, 0) scale(1)"><circle id="SvgjsCircle1293" r="14.157317073170734" cx="29.5" cy="29.5" fill="transparent"></circle><g id="SvgjsG1294" class="apexcharts-slices"><g id="SvgjsG1295" class="apexcharts-series apexcharts-pie-series" seriesName="seriesx1" rel="1" data:realIndex="0"><path id="SvgjsPath1296" d="M 29.5 7.719512195121947 A 21.780487804878053 21.780487804878053 0 0 1 29.5 51.28048780487805 L 29.5 43.65731707317073 A 14.157317073170734 14.157317073170734 0 0 0 29.5 15.342682926829266 L 29.5 7.719512195121947 z" fill="rgba(255,91,92,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="3" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-0" index="0" j="0" data:angle="180" data:startAngle="0" data:strokeWidth="3" data:value="60" data:pathOrig="M 29.5 7.719512195121947 A 21.780487804878053 21.780487804878053 0 0 1 29.5 51.28048780487805 L 29.5 43.65731707317073 A 14.157317073170734 14.157317073170734 0 0 0 29.5 15.342682926829266 L 29.5 7.719512195121947 z" stroke="#ffffff"></path></g><g id="SvgjsG1297" class="apexcharts-series apexcharts-pie-series" seriesName="seriesx2" rel="2" data:realIndex="1"><path id="SvgjsPath1298" d="M 29.5 51.28048780487805 A 21.780487804878053 21.780487804878053 0 0 1 7.719512195121947 29.500000000000004 L 15.342682926829266 29.5 A 14.157317073170734 14.157317073170734 0 0 0 29.5 43.65731707317073 L 29.5 51.28048780487805 z" fill="rgba(105,128,154,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="3" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-1" index="0" j="1" data:angle="90" data:startAngle="180" data:strokeWidth="3" data:value="30" data:pathOrig="M 29.5 51.28048780487805 A 21.780487804878053 21.780487804878053 0 0 1 7.719512195121947 29.500000000000004 L 15.342682926829266 29.5 A 14.157317073170734 14.157317073170734 0 0 0 29.5 43.65731707317073 L 29.5 51.28048780487805 z" stroke="#ffffff"></path></g><g id="SvgjsG1299" class="apexcharts-series apexcharts-pie-series" seriesName="seriesx3" rel="3" data:realIndex="2"><path id="SvgjsPath1300" d="M 7.719512195121947 29.500000000000004 A 21.780487804878053 21.780487804878053 0 0 1 29.49619858777044 7.719512526857745 L 29.497529082050786 15.342683142457535 A 14.157317073170734 14.157317073170734 0 0 0 15.342682926829266 29.5 L 7.719512195121947 29.500000000000004 z" fill="rgba(90,141,238,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="3" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-2" index="0" j="2" data:angle="90" data:startAngle="270" data:strokeWidth="3" data:value="30" data:pathOrig="M 7.719512195121947 29.500000000000004 A 21.780487804878053 21.780487804878053 0 0 1 29.49619858777044 7.719512526857745 L 29.497529082050786 15.342683142457535 A 14.157317073170734 14.157317073170734 0 0 0 15.342682926829266 29.5 L 7.719512195121947 29.500000000000004 z" stroke="#ffffff"></path></g></g></g></g><line id="SvgjsLine1301" x1="0" y1="0" x2="59" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1302" x1="0" y1="0" x2="59" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line></g><g id="SvgjsG1288" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend"></div><div class="apexcharts-tooltip apexcharts-theme-dark"><div class="apexcharts-tooltip-series-group" style="order: 1;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(255, 91, 92);"></span><div class="apexcharts-tooltip-text" style="font-family: &quot;IBM Plex Sans&quot;; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 2;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(105, 128, 154);"></span><div class="apexcharts-tooltip-text" style="font-family: &quot;IBM Plex Sans&quot;; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 3;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(90, 141, 238);"></span><div class="apexcharts-tooltip-text" style="font-family: &quot;IBM Plex Sans&quot;; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div></div></div>
                            <div>
                                <div class="content-left">
                                    <span>شكاوى مرفوضة    </span>
                                </div>

                                <div class="d-flex align-items-center">
                                    <h6 class="me-2 mb-0">5,352</h6>
                                    <span class="text-danger">(-4.9%)</span>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="badge badge-dot bg-danger me-2"></span> Jan 12,2022
                                </div>
                            </div>
                            <div class="resize-triggers"><div class="expand-trigger"><div style="width: 159px; height: 51px;"></div></div><div class="contract-trigger"></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="card">
        <div class="card-body">
            <div class="row mx-2  ">
                <div class="col-md-6">
                    <div class="t-d">
                        <h5 class="card-header title-t" style="margin-left: 10px;"> إدارة التقارير</h5>
                    </div>


                </div>
                <div class="col-md-6">
                    <div class="dropdown" style="text-align-last: end;">


                        <span class="badge bg-label-primary badgess " style="    padding-left: 36px;
                        line-height: 1.99;
                        width: 152.35px;">العدد الكلي 876</span>
                    </div>
                </div>
            </div>



            <div class="card-datatable table-responsive">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                    <div class="row mx-2 border-bottom ">

                        @* <div class="col-md-2 btn-down">
                                    <div class="btn-group btn-down">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="margin-right: 32px;">
                                            عرض حسب
                                        </button>
                                        <ul class="dropdown-menu" style="">
                                            <li><a class="dropdown-item" href="javascript:void(0);">مستثمر</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);">موظف </a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);">Something else here</a></li>

                                        </ul>
                                    </div>
                                </div>

                                <div class="col-md-2 btn-down">
                                    <div class="btn-group btn-down">
                                        <button type="button"
                                        class="btn btn-primary dropdown-toggle"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false"
                                        style="margin-right: 32px;">
                                            المحافظة
                                        </button>
                                        <ul class="dropdown-menu" style="">
                                            <li><a class="dropdown-item" href="javascript:void(0);">Action</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);">Another action</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);">Something else here</a></li>

                                        </ul>
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="me-2 table-type search-paddind">
                                        <span class="table-span">بحث</span>
                                        <div id="DataTables_Table_0_filter"
                                        class="dataTables_filter">
                                        <label class="lable-search">
                                            <input type="search" class="form-control form-control-sm table-s" placeholder="Search.." aria-controls="DataTables_Table_0" style=" width: 455px;"></label></div>
                                    </div>
                                </div>

                            </div>*@


                        <div class="row mx-2 border-bottom ">
                            <div class="row align-items-start">
                                <div class="row align-items-start">
                                    <div class="col-md-4" style="width:150px">
                                        <select id="FilterType"
                                                name="DataTables_Table_0_length" aria-controls="DataTables_Table_0"
                                                class="select2 form-select select2-hidden-accessible"
                                                tabindex="-1" aria-hidden="true" data-select2-id="10">
                                            <option value="0" data-select2-id="12">مستثمر</option>
                                            <option value="موظف">موظف</option>
                                        </select>
                                    </div>

                                    <div class="col-md-4" style="width:150px">
                                        <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0"
                                                class="select2 form-select select2-hidden-accessible"
                                                tabindex="-1" aria-hidden="true" data-select2-id="10">
                                            <option value="10" data-select2-id="12">المحافظة</option>
                                            <option value="25">عمران</option>
                                            <option value="50">صنعاء </option>
                                            <option value="100">الحديده</option>
                                        </select>
                                    </div>



                                    <div class="col-12 col-md-6  d-flex mb-4 justify-content-center justify-content-md-start">
                                        <div class="me-3 table-type search-paddind">
                                            <span class="table-span">بحث</span>
                                            <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                                <label><input type="search" id="CustomSearchTextField" class="form-controls" placeholder="البحث"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive text-nowrap">
                            <table id="example" class="table table-bordered table table-bordered">
                                <thead>
                                    <tr>
                                        <th>الرقم</th>
                                        <th>عنوان البلاغ </th>
                                        <th>تاريخ التقديم </th>
                                        <th> الحاله </th>
                                        <th>الإجراءات</th>
                                    </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                    <tr>
                                        <td>1</td>
                                        <td>عنوان البلاغ  </td>
                                        <td>22/10/1999</td>

                                        <td>محوله</td>


                                        <td>
                                            <div class="dropdown">
                                                <button type="button" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bx bx-dots-vertical-rounded"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="عرض التقرير.html">
                                                        <i class="bx bxs-bar-chart-alt-2 icon-padding icon-color"></i>

                                                        عرض
                                                    </a>
                                                    <a class="dropdown-item" href=" .">
                                                        <i class="bx bxs-bar-chart-alt-2 icon-padding icon-color"></i>

                                                        حذف
                                                    </a>





                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>عنوان البلاغ  </td>
                                        <td>22/10/1999</td>

                                        <td>محوله</td>


                                        <td>
                                            <div class="dropdown">
                                                <button type="button" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bx bx-dots-vertical-rounded"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="عرض البلاغ.html">
                                                        <i class="bx bxs-bar-chart-alt-2 icon-padding icon-color"></i>

                                                        عرض
                                                    </a>
                                                    <a class="dropdown-item" href="عرض البلاغ.html">
                                                        <i class="bx bxs-bar-chart-alt-2 icon-padding icon-color"></i>

                                                        حذف
                                                    </a>



                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>عنوان البلاغ  </td>
                                        <td>22/10/1999</td>

                                        <td>محوله</td>


                                        <td>
                                            <div class="dropdown">
                                                <button type="button" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bx bx-dots-vertical-rounded"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="عرض البلاغ.html">
                                                        <i class="bx bxs-bar-chart-alt-2 icon-padding icon-color"></i>

                                                        عرض
                                                    </a>

                                                    <a class="dropdown-item" href="عرض البلاغ.html">
                                                        <i class="bx bxs-bar-chart-alt-2 icon-padding icon-color"></i>

                                                        حذف
                                                    </a>


                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>عنوان البلاغ  </td>
                                        <td>22/10/1999</td>

                                        <td>محوله</td>


                                        <td>
                                            <div class="dropdown">
                                                <button type="button" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bx bx-dots-vertical-rounded"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="عرض البلاغ.html">
                                                        <i class="bx bxs-bar-chart-alt-2 icon-padding icon-color"></i>

                                                        عرض
                                                    </a>
                                                    <a class="dropdown-item" href="عرض البلاغ.html">
                                                        <i class="bx bxs-bar-chart-alt-2 icon-padding icon-color"></i>

                                                        حذف
                                                    </a>



                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>عنوان البلاغ  </td>
                                        <td>22/10/1999</td>

                                        <td>محوله</td>


                                        <td>
                                            <div class="dropdown">
                                                <button type="button" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bx bx-dots-vertical-rounded"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="عرض البلاغ.html">
                                                        <i class="bx bxs-bar-chart-alt-2 icon-padding icon-color"></i>

                                                        عرض
                                                    </a>
                                                    <a class="dropdown-item" href="عرض البلاغ.html">
                                                        <i class="bx bxs-bar-chart-alt-2 icon-padding icon-color"></i>

                                                        حذف
                                                    </a>



                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>عنوان البلاغ  </td>
                                        <td>22/10/1999</td>

                                        <td>محوله</td>


                                        <td>
                                            <div class="dropdown">
                                                <button type="button" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bx bx-dots-vertical-rounded"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="عرض البلاغ.html">
                                                        <i class="bx bxs-bar-chart-alt-2 icon-padding icon-color"></i>

                                                        عرض
                                                    </a>
                                                    <a class="dropdown-item" href="عرض البلاغ.html">
                                                        <i class="bx bxs-bar-chart-alt-2 icon-padding icon-color"></i>

                                                        حذف
                                                    </a>



                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>عنوان البلاغ  </td>
                                        <td>22/10/1999</td>

                                        <td>محوله</td>


                                        <td>
                                            <div class="dropdown">
                                                <button type="button" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bx bx-dots-vertical-rounded"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="عرض البلاغ.html">
                                                        <i class="bx bxs-bar-chart-alt-2 icon-padding icon-color"></i>

                                                        عرض
                                                    </a>
                                                    <a class="dropdown-item" href="عرض البلاغ.html">
                                                        <i class="bx bxs-bar-chart-alt-2 icon-padding icon-color"></i>

                                                        حذف
                                                    </a>



                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>عنوان البلاغ  </td>
                                        <td>22/10/1999</td>

                                        <td>محوله</td>


                                        <td>
                                            <div class="dropdown">
                                                <button type="button" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bx bx-dots-vertical-rounded"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="عرض البلاغ.html">
                                                        <i class="bx bxs-bar-chart-alt-2 icon-padding icon-color"></i>

                                                        عرض
                                                    </a>

                                                    <a class="dropdown-item" href="عرض البلاغ.html">
                                                        <i class="bx bxs-bar-chart-alt-2 icon-padding icon-color"></i>

                                                        حذف
                                                    </a>


                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row mx-2">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                    <nav aria-label="Page navigation" class="m-4">
                                        <ul class="pagination pagination-sm justify-content-end ">
                                            <li class="page-item prev mr">
                                                <a class="page-link" href="javascript:void(0);">السابق</a>
                                            </li>
                                            <li class="page-item active">
                                                <a class="page-link" href="javascript:void(0);">1</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="javascript:void(0);">2</a>
                                            </li>
                                            <li class="page-item ">
                                                <a class="page-link" href="javascript:void(0);">3</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="javascript:void(0);">4</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="javascript:void(0);">5</a>
                                            </li>
                                            <li class="page-item next">
                                                <a class="page-link" href="javascript:void(0);">التالي</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
