

@{
    ViewData["Title"] = " عرض حسابات المستفيدين  ";
}
<div class="content-wrapper">
    <!-- Content -->


    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="breadcrumb-wrapper py-3 mb-4">

            <span class="text-muted fw-light"> حسابات المستفيدين  /  الحسابات   /</span> عرض حساب المستفيدين
        </h4>

        <div class="row">

            <div class="container-xxl flex-grow-1 container-p-y">
                <div class="row invoice-add">
                    <!-- Invoice Add-->
                    <div class="col-12 col-lg-9 mb-4 mb-lg-0">
                        <div class="card invoice-preview-card">
                            <div class="card-body">
                                <div class="user-avatar-section">
                                    <div class="d-flex flex-column ">
                                        <img class="img-fluid rounded my-4" src="../../assets/img/avatars/1.png" height="110" width="110" alt="User avatar">
                                        <div class="user-info ">
                                            <h5 class="mb-2"> آمنة كمال </h5>
                                            <span class="badge bg-label-secondary">مستفيد</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-wrap justify-content-around py-3 me-4 ">
                                    <div class="gap-3 d-flex align-items-start mt-3 me-4 margin-right-span " style="box-sizing: none;">
                                        <span class="badge bg-label-primary rounded p-2"><i class="bx bx-check bx-sm"></i></span>
                                        <div class="margin-span">
                                            <h5 class="mb-0">3</h5>
                                            <span>الشكوى المقدمة</span>
                                        </div>
                                    </div>
                                    <div class="gap-3 d-flex align-items-start mt-3 me-4  ">
                                        <span class="badge bg-label-primary rounded p-2"><i class="bx bx-check bx-sm"></i></span>
                                        <div class="margin-span">
                                            <h5 class="mb-0">0</h5>
                                            <span>الشكوى المرفوعة</span>
                                        </div>
                                    </div>
                                    <div class="gap-3 d-flex align-items-start mt-3 me-4 ">
                                        <span class="badge bg-label-primary rounded p-2"><i class="bx bx-customize bx-sm"></i></span>
                                        <div class="margin-span">
                                            <h5 class="mb-0">12</h5>
                                            <span>الشكوى المحلولة</span>
                                        </div>
                                    </div>
                                </div>
                                <h5 class="border-bottom pb-2 mb-4">البيانات</h5>
                                <div class="info-container">
                                    <ul class="list-unstyled">
                                        <li class="mb-3">
                                            <span class="fw-bold me-2">الاسم:</span>
                                            <span>آمنة كمال سيف</span>
                                        </li>
                                        <li class="mb-3">
                                            <span class="fw-bold me-2">الايميل:</span>
                                            <span>vafgot@vultukir.org</span>
                                        </li>
                                        <li class="mb-3">
                                            <span class="fw-bold me-2">الفعالية:</span>
                                            <span class="badge bg-label-success">نشط</span>
                                        </li>
                                        <li class="mb-3">
                                            <span class="fw-bold me-2">الصلاحية:</span>
                                            <span>الصلاحيات</span>
                                        </li>

                                        <li class="mb-3">
                                            <span class="fw-bold me-2">رقم التلفون:</span>
                                            <span>(123) 456-7890</span>
                                        </li>
                                        <li class="mb-3">
                                            <span class="fw-bold me-2">رقم الموظف:</span>
                                            <span>845719</span>
                                        </li>
                                        <li class="mb-3">
                                            <span class="fw-bold me-2">الرقم الوطني:</span>
                                            <span>458974512654</span>
                                        </li>
                                        <li class="mb-3">
                                            <span class="fw-bold me-2">تاريخ الانشاء:</span>
                                            <span>4/9/2022</span>
                                        </li>
                                        <li class="mb-3">
                                            <span class="fw-bold me-2">اسم منشئ الحساب:</span>
                                            <span>سعيد محمد</span>
                                        </li>
                                        <li class="mb-3">
                                            <span class="fw-bold me-2">المحافظة:</span>
                                            <span>صنعاء</span>
                                        </li>
                                        <li class="mb-3">
                                            <span class="fw-bold me-2">المديرية:</span>
                                            <span>السبعين</span>
                                        </li>
                                        <li class="mb-3">
                                            <span class="fw-bold me-2">العزلة:</span>
                                            <span>السبعين</span>
                                        </li>
                                        <li class="mb-3">
                                            <span class="fw-bold me-2">القرية:</span>
                                            <span>بني حشيش</span>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Invoice Add-->
                    <!-- Invoice Actions -->
                    <div class="invoice-actions col-12 col-lg-3">
                        <div class="card mb-4">
                            <div class="card-body">
                                <button class="btn btn-primary d-grid w-100 mb-3"
                                        data-bs-toggle="offcanvas"
                                        data-bs-target="#sendInvoiceOffcanvas">
                                    <span class="d-flex justify-content-center align-items-center text-nowrap"><i class=""></i>خروج</span>
                                </button>

                            </div>
                        </div>

                    </div>
                    <!-- /Invoice Actions -->
                </div>

            </div>
            <!-- / Content -->



            <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
</div>
