<!-- Offcanvas to add new user -->
<!--<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasAddUser" aria-labelledby="offcanvasAddUserLabel" data-select2-id="offcanvasAddUser" style="visibility: hidden;" aria-hidden="true">
    <div class="offcanvas-header border-bottom">
        <h6 id="offcanvasAddUserLabel" class="offcanvas-title">اضافة تعميم</h6>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body flex-grow-0 mx-0" data-select2-id="6">
        <form class="add-new-user pt-0 fv-plugins-bootstrap5 fv-plugins-framework" id="addNewUserForm" onsubmit="return false" novalidate="novalidate" data-select2-id="addNewUserForm">

            <div class="mb-3 fv-plugins-icon-container">
                <label class="form-label" for="add-user-fullname">
                    عنوان التعميم                 
              <form class="add-new-user pt-0 fv-plugins-bootstrap5 fv-plugins-framework" id="addNewUserForm" onsubmit="return false" novalidate="novalidate" data-select2-id="addNewUserForm">
                </label>
                <input type="text" class="form-control" id="add-user-fullname" placeholder="عنوان التعميم " name="userFullname" aria-label="John Doe">
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>





            <label class="form-label" for="user-role"> الجمعية </label>
            <select id="user-role" class="form-select">

                <option value="employee">اختر</option>
                <option value="employee">صنعاء</option>
                <option value="employee">تعز </option>
                <option value="employee">ابين</option>
                <option value="employee">شبوة</option>
            </select>
    </div>
    <div class="mb-3">
        <label class="form-label" for="payment-note">محتوى التعميم</label>
        <textarea class="form-control" id="payment-note" rows="2"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label" for="payment-note">اضافة مرفق</label>

        <input type="file" class="form-control" id="inputGroupFile02">
    </div>


    <div class="mb-3 fv-plugins-icon-container buttom-top-margin">

        <button type="button" class="btn btn-primary d-grid w-100 mb-2">إضافة</button>
        <button type="button" class="btn btn-label-secondary d-grid w-100" data-bs-dismiss="offcanvas">
            إلغاء
        </button>
    </div>

    </form>
</div>-->