
@model TypeComplaint

@{ Layout = null; }


<div class="row">
    <div class="col-md-8">
        <form asp-action="AddOrEditCategoryCompalint"  onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">اكتب النوع</label>
                        <input asp-for="Type" class="form-control" />
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                </div>
             
            </div>
         
            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                </div>
            </div>
        </form>
    </div>
</div>
